.cover__title {
  max-width: 560px;
  font-size: 72px;
  line-height: 106%;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

@media screen and (max-width: 1280px) {
  .cover__title {
    max-width: 550px;
    line-height: 1.09;
  }
}
@media screen and (max-width: 450px) {
  .cover__title {
    font-size: 32px;
    max-width: 250px;
    margin-top: 5px;
  }
}